.articleTitle {
  text-align: center;
}

.articles td {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.articleHeader {
  text-align: center;
}

.articleRow {
  width: 100vw;
  padding: 0 50px;
}