.header {
  text-align: center;
  color: white;
  background-color: black;
  height: 10vh;
  padding-top: 8px;
  padding-bottom: 36px;
}

.header button {
  all: unset;
  cursor: pointer;
}

.header span {
  margin: 0 20px;
}

.header span:hover {
  text-decoration: underline;
}
